---
import Social from "./Social.astro";
---

<footer>
  <div class="container">
    <p>Check out my</p>
    <Social platform="Github" username="nielslouwes" />
    <p>for more projects</p>
  </div>
</footer>

<style>
.container {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 2rem;
}
</style>
